[run]
omit =
    # omit files in tests directory from coverage
    tests/*
    # omit `__init__.py` files from coverage
    */__init__.py
    # omit executable scripts in `readnext/scripts` directory from coverage
    readnext/scripts/*
