[run]
omit =
    # exclude files in tests directory from coverage
    tests/*
    # exclude `__init__.py` files from coverage
    */__init__.py
    # exclude executable scripts in `readnext/scripts` directory from coverage
    readnext/scripts/*
    # exclude loading and saving functions in `readnext/utils/io.py` directory from coverage
    readnext/utils/io.py
    # exlude files that are tested by loading locally stored data that are not available
    # in CI
    readnext/inference/inference_data_constructor.py
    readnext/inference/inference_data.py


[report]
exclude_lines =
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    @overload
    def __repr__
    def __str__
    if TYPE_CHECKING:
